{% extends 'basic.html' %}

{% block main %}

{% if object_list %}
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            {% for departamento in object_list %}
                <tr>
                    <td>{{ departamento.nome }}</td>
                    <td><a href="{% url 'update_departamento' departamento.id %}">Editar</a></td>
                    <td><a href="{% url 'delete_departamento' departamento.id %}">Deletar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nenhum departamento cadastrado</p>
{% endif %}

    <button class="btn-info"><a href="{% url 'create_departamento' %}" style="text-decoration: none">Cadastrar novo departamento</a></button>


{% endblock %}