{% extends 'basic.html' %}

{% block title %}Registro de horas extras{% endblock %}

{% block style %}
/* Adicione este código CSS em seu arquivo de estilos */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #e2e2e2;
}
{% endblock %}


{% block main %}
<div class="container">
    <h1>Registro de horas extras</h1>
    <a href="{% url 'create_hora_extra' %}" class="btn btn-primary">Novo registro</a>
    <table class="table">
        <thead>
            <tr>
                <th>Colaborador</th>
                <th>Motivo</th>
                <th>Horas</th>
                <th>Data</th>
                <th>Utilizada</th>
                <th>Justificativa</th>
                <th>Atualizado em</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for registrohoraextra in object_list %}
            <tr>
                <td>{{ registrohoraextra.funcionario }}</td>
                <td>{{ registrohoraextra.motivo }}</td>
                <td>{{ registrohoraextra.horas }}</td>
                <td>{{ registrohoraextra.data }}</td>
                <td>{{ registrohoraextra.utilizada }}</td>
                <td>{{ registrohoraextra.justificativa }}</td>
                <td>{{ registrohoraextra.atualizado_em }}</td>
                <td>
                    <a href="{% url 'update_hora_extra_base' registrohoraextra.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'delete_hora_extra' registrohoraextra.id %}" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}