{% extends 'basic.html' %}
{% load crispy_forms_tags %}
{% block main %}

{% if object %}
    <h1>Editar Funcionario</h1>
{% else %}
    <h1>Cadastrar Funcionario</h1>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>

<br>
{% if object %}
    <a href="{% url 'create_documento' object.id %}" class="btn btn-primary">Adicionar Documento</a><br><br>
{% endif %}
<hr>
{% if object.registrohoraextra_set.all %}
    <h2>Banco de Horas</h2>
{% for horas in object.registrohoraextra_set.all %}
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Motivo: {{ horas.motivo }} | Horas: {{ horas.horas }}
            </h5>
        </div>
        <div class="card-body">
            <a href="{% url 'update_hora_extra' horas.id %}" class="btn btn-warning">Editar</a>
            <a href="" class="btn btn-danger">Excluir</a>
        </div>
    </div>
    <br>
{% endfor %}
{% endif %}
<p>
        <strong>Total de horas extras: {{ object.total_horas_extra }}</strong>
    </p>



{% if object.documento_set.all %}
<hr>
    <h2>Documentos</h2>
{% for documento in object.documento_set.all %}
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ documento }}
            </h5>
        </div>
        <div class="card-body">
            <a href="{{ documento.arquivo.url }}"  class="btn btn-success"target="_blank">Visualizar</a>
            <a href="" class="btn btn-warning">Editar</a>
            <a href="" class="btn btn-danger">Excluir</a>
        </div>

    </div>
{% endfor %}
{% endif %}




{% endblock %}