{% extends 'basic.html' %}
    {% block main %}
        <h1>Core App</h1>
        <p>Welcome to the core app</p>
        <div class="row">
            <div class="col-sm">
                Ola, {{ usuario.funcionario.nome }}
                <a href="{% url 'list_funcionarios' %}">Gerenciar Funcionarios</a>
            </div>
            <div class="col-sm">
                 <form method="post" action="{% url 'logout' %}">
                     {% csrf_token %}
                     <button type="submit" class="btn btn-primary">Logout</button>
                 </form>
            </div>
            <div class="col-sm">
                {% if usuario.funcionario.empresa %}
                    <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar empresa</a>
                {% else %}
                    <a href="{% url 'create_empresa' %}">Criar empresa</a>
                {% endif %}
            </div>
        </div>

    {% endblock %}

